/plots
/__pycache__
time_series_19-covid-Confirmed.csv
time_series_19-covid-Deaths.csv
time_series_19-covid-Recovered.csv
.DS_Store
/time_series_19-covid-reformatted.csv
/API_SP.POP.TOTL_DS2_en_csv_v2_821007.csv
/world-bank-population-reformatted.csv
